<h2>mypage show</h2>

<h3>会員情報</h3>
<%= link_to '編集', edit_information_path %>

<h3>投稿一覧（下書き含む）</h3>
<%= link_to '詳細', edit_information_path %>
<%= link_to '編集', edit_information_path %>

<h3>ブクマ一覧</h3>
<%= link_to '詳細', edit_information_path %>
